/* General Contact Us Section Styling */
.contact-us {
    background-color: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
}

.contact-us h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #333;
}

/* Form Styling */
#contact-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #ff6565;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease;
    border-radius: 50px;
    margin-bottom: 80px;
    max-width: 200px;
    align-self: center;
}

button:hover {
    opacity: 0,9;
}

/* Mobile Responsive */
@media (max-width: 480px) {
    .contact-us {
        padding: 20px;
    }

    #contact-form {
        width: 100%;
    }

    input, textarea {
        font-size: 0.9rem;
    }

    button {
        font-size: 1rem;
    }
}
