body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(246, 157, 228);
    color: #0c0c0c;
}

a {
    text-decoration: none;
    color: darkpink;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(8, 156, 201);
    padding: 10px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin: 0 15px;
}

header ul .logo {
    font-size: 32px;
    color: darkpink;
}


main {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    margin-top: 20px;
}


article {
    flex: 0 0 70%; 
    max-width: 900px;
    width: 100%;
    padding: 20px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
}

article h1, article h2, article h3 {
    color: darkpink;
}

article p {
    font-size: 16px;
    margin: 10px 0;
}


table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: skyblue;
    color: white;
}


article img {
    width: 100%;
    max-width: 500px;
    margin-top: 20px;
    border-radius: 8px;
}


aside {
    flex: 0 0 29%; 
    background-color: #f0f0f0;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0px;
    height: auto;
}


footer {
    text-align: center;
    background-color: rgb(4, 61, 83);
    padding: 10px;
    color: white;
}

footer a {
    color: white;
    font-weight: bold;
}


@media screen and (max-width: 768px) {
    main {
        flex-direction: column;  
    }

    header ul {
        flex-direction: column;
        align-items: center;
    }

    header ul li {
        margin: 5px 0;
    }
    
    table {
        width: 100%;
        font-size: 14px;
    }

    article img {
        max-width: 100%;
    }

    aside {
        margin-top: 20px;
    }
}
